[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain = "*"
langchain-community = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-ollama = "*"
langchain-pinecone = "*"

[dev-packages]

[requires]
python_version = "3.11"
